@import 'general';

#detail {	
	.detail-mes {
		// .mask {
		// 	position:absolute;
		// 	top: 0;
		// 	width: 100%;
		// 	height: 32rem;
		// 	background: rgba(0, 0, 0, .5);
		// 	z-index: -1;
		// }
		.blur-background {
			position: absolute;
			top: 0;
			width: 100%;
			height: 32rem;
			// filter: blur(10px);
			// opacity: .7;
			filter: opacity(55%) blur(12px);
			z-index: -1;
		}
		.top-control {
			position: fixed;
			top: 0;
			@include flexbox();
			align-items: center;
			height: 6rem;
			width: 100%;
			text-align: center;
			i {
				@include flex(0 0 10%);
				font-size: 3.5rem;
			}
			span {
				@include flex(0 0 80%);
				font-size: 3rem;
			}
			.play-flag {
				@include flex(0 0 10%);
				text-align: left;
				font-size: 2rem;
				vertical-align: top;
				display: inline-block;
				width: 4rem;
				height: 4rem;
				cursor: pointer;
				span {
					width: .5rem;
					background: black;
					display: inline-block;	
					vertical-align: top;	
				}
				span:first-child {
					height: 2rem;
				}
				span:nth-child(2) {
					height: 3.5rem;
				}
				span:nth-child(3) {
					height: 2.5rem;
				}
				span:last-child {
					height: 3rem;
				}
				.active_1 {
					animation: stretch_1 .6s linear infinite;
				}
				.active_2 {
					animation: stretch_2 .6s linear infinite;
				}
				.active_3 {
					animation: stretch_3 .6s linear infinite;
				}
				.active_4 {
					animation: stretch_4 .6s linear infinite;
				}
			}	

		}
		.playList-mes {
			margin-top: 6rem;
			padding: 1rem;
			border-sizing: border-box;
			>img {
				width: 25rem;
				border-radius: 1rem;
			}
			.author-mes {
				padding: 1rem;
				padding-top: 3rem;
				font-size: 3rem;
				vertical-align: top;
				display: inline-block;
				width: calc(100% - 30rem);
				p:first-of-type {
					margin-bottom: 2rem;
				}
				>img {
					width: 5rem;
					border-radius: 50%;
					vertical-align: middle;
				}
				p:last-of-type {
					display: inline-block;
				}
			}
		}

	}
	.song-list {
		background: white;
		font-size: 2rem;
		width: 100%;
		@include flexbox();
		flex-direction: column;
		.song-item {
			width: 100%;
			margin-top: 2rem;
			.number {
				width: 8%;
				text-align: center;
				display: inline-block;
				font-size: 4rem;
				margin: 0 1rem;
				vertical-align: middle;
				color: #9F9F9F;
			}
			.song-mes {
				width: 80%;
				padding-left: 1rem;
				vertical-align: middle;
				display: inline-block;
				padding-bottom: 1rem;
				border-bottom: .15rem solid #CCCCCC;
				p {
					font-size: 2.5rem;
				}
				span {
					color: #9F9F9F;
				}
			}
		}
	}
}
