@import 'general';

#play {
	color: #DCDCDC;
	i {
		cursor: pointer;
	}
	.mask {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .5);
		z-index: -1;
	}
	>img {
		filter: opacity(55%) blur(12px); 
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
	}
	.top-control {
		@include flexbox();
		align-items: center;
		padding: 1rem;
		i {
			@include flex(0 0 10%);
			font-size: 5rem;
			padding-left: 1rem;
		}
		.song-mes {
			@include flex(0 0 90%);
			text-align: center;
			margin-left: -6%;
		}
		P:first-of-type {
			font-size: 3rem;
		}
		p:last-of-type {
			font-size: 2rem;
		}
	}
	.song {
		text-align: center;
		img {
			width: 30rem;
			border-radius: 50%;
			margin: 5rem 0;
			animation: loading-spin 20s linear infinite;
		}
		.lyric {
			overflow: hidden;
			height: 35rem;
			font-size: 2.5rem;
			.lyric-item {
				height: 3.2rem;
				margin-bottom: 1rem;
				transition: all 1s ease-in-out;
			} 
			// .lyric-item:first-of-type {
			// 	animation: slice_top 4s linear infinite;
			// }
		}
	}
	.hand-audio {
		margin-top: 4rem;
		font-size: 2rem;
		line-height: 10rem;
		width: 100%;
		height: 10rem;
		position: relative;
		#now-time {
			position: absolute;
			left: 1rem;
		}
		#all-time {
			position: absolute;
			right: 1rem;
		}
		div {
			display: inline-block;
		}
		#time-axis-all {
			position: absolute;
			left: 8rem;
			top: 4.8rem;
			width: 45rem;
			height: .3rem;
			background: #DCDCDC;
		}
		#time-axis-now {
			position: absolute;
			left: 8rem;
			top: 4.8rem;
			width: 0rem;
			height: .3rem;
			background: red;
		}
		#time-ball {
			position: absolute;
			left: 7.5rem;
			top: 3.6rem;
			width: .8rem;
			height: .8rem;
			border: 1rem solid #DCDCDC;
			border-radius: 50%;
			background: red;
		}
	}
	.bottom-control {
		margin-top: 1rem;
		font-size: 5rem;
		@include flexbox();
		justify-content: space-around;
	}
}


@media only screen and (min-device-width: 768px) {
	#play {
		.song {
			.lyric {
				height: 12rem;
			}		
		}		
	}
}

@keyframes slice_top {
	0% { transform: translateY(0); }
	100% { transform: translateY(-3rem); }
}